# Laboratorio - AutoCodificadores

## Complete las tareas indicadas abajo

**TAREA: Ejecute las siguientes importaciones**

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Los datos

En la tabla que van a trabajar, se encuentra el consumo promedio de 17 tipos de comida, en gramos por persona por semana, para cada país del Reino Unido (UK).

La tabla tiene algunas variaciones interesantes en diferentes tipos de comida, pero a nivel general las diferencias no son tan notables.

**TAREA:  Ejecute la siguiente instrucción para leer los datos**

Es posible que tenga que modificar la instrucción de acuerdo al lugar donde descargó el archivo.

In [5]:
df = pd.read_csv('UK_foods.csv', index_col = 'Unnamed: 0')

**TAREA: Despliegue el DataFrame**

In [6]:
df

                     England  Wales  Scotland  N.Ireland
Cheese                   105    103       103         66
Carcass_meat             245    227       242        267
Other_meat               685    803       750        586
Fish                     147    160       122         93
Fats_and_oils            193    235       184        209
Sugars                   156    175       147        139
Fresh_potatoes           720    874       566       1033
Fresh_Veg                253    265       171        143
Other_Veg                488    570       418        355
Processed_potatoes       198    203       220        187
Processed_Veg            360    365       337        334
Fresh_fruit             1102   1137       957        674
Cereals                 1472   1582      1462       1494
Beverages                 57     73        53         47
Soft_drinks             1374   1256      1572       1506
Alcoholic_drinks         375    475       458        135
Confectionery             54     64        62         41

In [7]:
df.head()

                England  Wales  Scotland  N.Ireland
Cheese              105    103       103         66
Carcass_meat        245    227       242        267
Other_meat          685    803       750        586
Fish                147    160       122         93
Fats_and_oils       193    235       184        209

In [8]:
df.columns

Index(['England', 'Wales', 'Scotland', 'N.Ireland'], dtype='object')

**TAREA:  Realice la transposición del DataFrame para que las columnas se conviertan en el índice.**

In [5]:
#SU CODIGO AQUI

**TAREA:  Cree un mapa de calor a partir del DataFrame.** 

¿Existe algún país que sobresalga por diferencia de los otros?  Puede ser bastante difícil determinar esto solo por la imagen.

¿Habrá algún par de países que parezcan muy similares entre si?

In [7]:
#SU CODIGO AQUI

**TAREA:  Realice las importaciones necesarias para construir un AutoCodificador.  La meta será reducir las dimensiones de 17 --> 2 y ver si hay países que resalten como diferentes.**

In [9]:
#SU CODIGO AQUI

**TAREA:  Cree un codificador**

In [11]:
#SU CODIGO AQUI

**TAREA: Cree un decodificador.**

In [13]:
#SU CODIGO AQUI

**TAREA: Combine el codificador y el decodificador para conformar un AutoCodificador, y complile el modelo.**

In [15]:
#SU CODIGO AQUI

**TAREA: Cree un normalizador MinMaxScaler para normalizar (escalar) los datos.  Asegúrese de transponer los datos ya que realmente tenemos 17 columnas (features) y solo 4 filas (uno por país).**

In [17]:
#SU CODIGO AQUI

In [ ]:
# NOTA la forma debe ser 17 columnas por 4 filas.

**TAREA:  Ajuste el AutoCodificador a los datos normalizados por medio de 15 épocas.**

In [31]:
#SU CODIGO AQUI

**TAREA: Pase los datos normalizados solo por el codificador y prediga la salida ya re-dimensionada.  Nota: Lo más seguro es que obtengan resultados diferentes debido a las inicializaciones al azar.**

In [29]:
#SU CODIGO AQUI

**TAREA:  Una los datos codificados bidimensionales, con el indice original de países.  Asegúrese de verificar el orden del índice para asegurar que quede unido correctamente.  Hay muchas formas de hacer esto con Pandas.**

In [ ]:
#SU CODIGO AQUI

**TAREA:  Ahora grafique estos resultados con una gráfica de dispersión, etiquedados por su país respectivo.**

¿Se nota ya algún país que difiera de los otros?  ¿Cuál?

In [ ]:
#SU CODIGO AQUI

Al regresar a ver los datos en la tabla, esto tiene sentido: los Nor-Irlandeses comen mucho más gramos de papas frescas y mucho menos de frutas frescas, queso, pescado y bebidad alcohólicas.

Es buena seña que la estructura que se visualiza refleje un hecho grande de la geografía real:  Irlanda del Norte es el único de los cuatro países que no están en la isla de Gran Bretaña. (Si tiene confusión entre Inglaterra, el Reino Unido y Gran Bretaña, vea: este [video](https://www.youtube.com/watch?v=rNu8XDBSn10).)